In [3]:
import pyspark
from pyspark.sql import SparkSession
import pandas as pd

In [4]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

23/03/06 10:04:21 WARN Utils: Your hostname, wedivv-H110M-S2V resolves to a loopback address: 127.0.1.1; using 192.168.1.44 instead (on interface wlp5s0)
23/03/06 10:04:21 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/03/06 10:04:22 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [5]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-01.csv.gz

--2023-03-06 10:04:24--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-01.csv.gz
Resolving github.com (github.com)... 20.201.28.151
Connecting to github.com (github.com)|20.201.28.151|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/035746e8-4e24-47e8-a3ce-edcf6d1b11c7?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230306%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230306T130424Z&X-Amz-Expires=300&X-Amz-Signature=81ae1a0e39c91cd5b9e9a967516ed013323bc154e9790ab9a82afc17ac7ade21&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhvhv_tripdata_2021-01.csv.gz&response-content-type=application%2Foctet-stream [following]
--2023-03-06 10:04:24--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/035746e8-4e24-47e8-a3ce-edcf6d1b11c7?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230306%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230306T130424Z&X-Amz-Expires=300&X-Amz-Signature=81ae1a0e39c91cd5b9e9a967516ed013323bc154e9790ab9a82afc17ac7ade21&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhvhv_tripdata_2021-01.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 129967421 (124M) [application/octet-stream]
Saving to: ‘fhvhv_tripdata_2021-01.csv.gz’

ta_2021-01.csv.gz    14%[=>                  ]  17,62M  4,07MB/s    eta 28s    ^C

In [ ]:
!gzip -d 'fhvhv_tripdata_2021-01.csv.gz'

In [ ]:
!wc -l 'fhvhv_tripdata_2021-01.csv'

11908469 fhvhv_tripdata_2021-01.csv

In [6]:
df = spark.read.options(
    header='true', 
    inferSchema='true') \
.csv('fhvhv_tripdata_2021-01.csv')

In [7]:
df.dtypes

[('hvfhs_license_num', 'string'),
 ('dispatching_base_num', 'string'),
 ('pickup_datetime', 'timestamp'),
 ('dropoff_datetime', 'timestamp'),
 ('PULocationID', 'int'),
 ('DOLocationID', 'int'),
 ('SR_Flag', 'int')]

In [ ]:
from pyspark.sql.functions import col
# Count total number of rows
total_count = df.count()

# Count number of rows where SR_Flag is equal to 1
sr_flag_count = df.filter(col('SR_Flag') == 1).count()

# Print the results
print(f"Total number of rows: {total_count}")
print(f"Number of rows where SR_Flag is equal to 1: {sr_flag_count}")

# SR_Flag equal 1: Agencies like Uber, ...

Total number of rows: 11908468
Number of rows where SR_Flag is equal to 1: 1204

In [ ]:
result = df.filter((col('SR_Flag') != 1) & col('SR_Flag').isNotNull())

result.show()

# Nenhum valor sem ser 1 ou Null

+-----------------+--------------------+---------------+----------------+------------+------------+-------+
|hvfhs_license_num|dispatching_base_num|pickup_datetime|dropoff_datetime|PULocationID|DOLocationID|SR_Flag|
+-----------------+--------------------+---------------+----------------+------------+------------+-------+
+-----------------+--------------------+---------------+----------------+------------+------------+-------+

In [8]:
df = df.repartition(24)

In [ ]:
df.write.parquet('fhvhv/2021/01')

In [10]:
df = spark.read.parquet('fhvhv/2021/01/')

In [11]:
df.printSchema()

root
 |-- hvfhs_license_num: string (nullable = true)
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- SR_Flag: integer (nullable = true)

In [14]:
df.select('pickup_datetime', 'dropoff_datetime', 'PULocationID', 'DOLocationID').filter(df.hvfhs_license_num == 'HV0003').head(5)

[Row(pickup_datetime=datetime.datetime(2021, 1, 2, 19, 11, 15), dropoff_datetime=datetime.datetime(2021, 1, 2, 19, 26, 12), PULocationID=258, DOLocationID=132),
 Row(pickup_datetime=datetime.datetime(2021, 1, 6, 13, 21, 2), dropoff_datetime=datetime.datetime(2021, 1, 6, 13, 32, 57), PULocationID=231, DOLocationID=232),
 Row(pickup_datetime=datetime.datetime(2021, 1, 1, 6, 37, 5), dropoff_datetime=datetime.datetime(2021, 1, 1, 7, 0, 7), PULocationID=92, DOLocationID=258),
 Row(pickup_datetime=datetime.datetime(2021, 1, 6, 6, 51, 10), dropoff_datetime=datetime.datetime(2021, 1, 6, 7, 10, 51), PULocationID=258, DOLocationID=36),
 Row(pickup_datetime=datetime.datetime(2021, 1, 7, 6, 23, 58), dropoff_datetime=datetime.datetime(2021, 1, 7, 6, 34, 51), PULocationID=233, DOLocationID=237)]

In [16]:
from pyspark.sql import functions as F

In [19]:
df \
.withColumn('pickup_date', F.to_date(df.pickup_datetime)) \
.withColumn('dropoff_date', F.to_date(df.dropoff_datetime)) \
.select('pickup_date', 'dropoff_date', 'PULocationID', 'DOLocationID') \
.show()

+-----------+------------+------------+------------+
|pickup_date|dropoff_date|PULocationID|DOLocationID|
+-----------+------------+------------+------------+
| 2021-01-02|  2021-01-02|         258|         132|
| 2021-01-05|  2021-01-05|         142|          79|
| 2021-01-06|  2021-01-06|         191|         122|
| 2021-01-06|  2021-01-06|         231|         232|
| 2021-01-07|  2021-01-07|         140|         140|
| 2021-01-01|  2021-01-01|          92|         258|
| 2021-01-06|  2021-01-06|         258|          36|
| 2021-01-07|  2021-01-07|         233|         237|
| 2021-01-01|  2021-01-01|         113|         158|
| 2021-01-02|  2021-01-02|          76|         216|
| 2021-01-01|  2021-01-01|         221|         187|
| 2021-01-01|  2021-01-01|          48|          48|
| 2021-01-05|  2021-01-05|         249|          89|
| 2021-01-03|  2021-01-03|         101|         121|
| 2021-01-06|  2021-01-06|         146|         236|
| 2021-01-03|  2021-01-03|         241|          94|
| 2021-01-02|  2021-01-02|          92|          95|
| 2021-01-04|  2021-01-04|         227|          29|
| 2021-01-03|  2021-01-03|         142|          68|
| 2021-01-05|  2021-01-05|          42|         169|
+-----------+------------+------------+------------+
only showing top 20 rows