In [2]:
import pyspark
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder \
    .master("spark://wedivv-H110M-S2V:7077") \
    .appName('test') \
    .getOrCreate()

23/03/06 22:06:50 WARN Utils: Your hostname, wedivv-H110M-S2V resolves to a loopback address: 127.0.1.1; using 192.168.1.44 instead (on interface wlp5s0)
23/03/06 22:06:50 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/03/06 22:06:50 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/03/06 22:06:51 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [6]:
df_green = spark.read.parquet('data/pq/green/*/*')

In [9]:
df_green.show()

+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|VendorID|lpep_pickup_datetime|lpep_dropoff_datetime|store_and_fwd_flag|RatecodeID|PULocationID|DOLocationID|passenger_count|trip_distance|fare_amount|extra|mta_tax|tip_amount|tolls_amount|ehail_fee|improvement_surcharge|total_amount|payment_type|trip_type|congestion_surcharge|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|       2| 2020-01-04 20:44:24|  2020-01-04 20:47:19|                 N|         1|         223|         264|              1|          0.0|        2.5|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|         3.8|           2|        1|                 0.0|
|       2| 2020-01-20 15:33:12|  2020-01-20 15:37:15|                 N|         1|          42|          42|              1|          0.8|        5.0|  0.0|    0.5|       0.0|         0.0|     null|                  0.3|         5.8|           2|        1|                 0.0|
|       2| 2020-01-07 20:29:32|  2020-01-07 20:39:34|                 N|         1|         244|          42|              1|         4.52|       14.0|  0.5|    0.5|      4.59|         0.0|     null|                  0.3|       19.89|           1|        1|                 0.0|
|    null| 2020-01-09 10:25:00|  2020-01-09 10:40:00|              null|      null|         183|         168|           null|         8.54|      43.25| 2.75|    0.5|       0.0|         0.0|     null|                  0.0|        46.5|        null|     null|                null|
|       2| 2020-01-09 17:06:26|  2020-01-09 17:09:45|                 N|         1|          75|          75|              1|         0.59|        4.5|  1.0|    0.5|       0.0|         0.0|     null|                  0.3|         6.3|           2|        1|                 0.0|
|       2| 2020-01-09 13:13:42|  2020-01-09 13:20:44|                 N|         1|         196|          56|              1|         1.01|        6.5|  0.0|    0.5|       0.0|         0.0|     null|                  0.3|         7.3|           1|        1|                 0.0|
|    null| 2020-01-30 17:54:00|  2020-01-30 18:41:00|              null|      null|          42|         234|           null|         7.64|      32.41| 2.75|    0.5|       0.0|         0.0|     null|                  0.3|       35.96|        null|     null|                null|
|       2| 2020-01-23 15:02:49|  2020-01-23 16:17:33|                 N|         1|         130|          86|              1|        10.59|       51.0|  0.0|    0.5|       0.0|         0.0|     null|                  0.3|        51.8|           1|        1|                 0.0|
|       2| 2020-01-06 19:44:45|  2020-01-06 19:48:21|                 N|         1|          42|          74|              1|         0.73|        4.5|  1.0|    0.5|      1.07|         0.0|     null|                  0.3|        7.37|           1|        1|                 0.0|
|       1| 2020-01-29 17:07:13|  2020-01-29 17:31:06|                 N|         1|          56|           9|              1|          0.0|       20.2|  0.0|    0.5|       0.0|         0.0|     null|                  0.3|        21.0|           1|        1|                 0.0|
|       2| 2020-01-06 07:36:01|  2020-01-06 07:43:40|                 N|         1|          74|          75|              1|         0.91|        6.5|  0.0|    0.5|      1.82|         0.0|     null|                  0.3|        9.12|           1|        1|                 0.0|
|    null| 2020-01-07 16:57:00|  2020-01-07 17:10:00|              null|      null|          83|         226|           null|         1.53|        8.0|  0.0|    0.0|       0.0|         0.0|     null|                  0.3|         8.3|        null|     null|                null|
|       2| 2020-01-05 14:42:59|  2020-01-05 15:01:14|                 N|         1|          65|         178|              2|         6.99|       22.5|  0.0|    0.5|      4.66|         0.0|     null|                  0.3|       27.96|           1|        1|                 0.0|
|       2| 2020-01-26 15:37:49|  2020-01-26 16:22:27|                 N|         1|          33|         132|              1|        18.15|       51.5|  0.0|    0.5|       0.0|         0.0|     null|                  0.3|        52.3|           2|        1|                 0.0|
|       1| 2020-01-14 13:15:34|  2020-01-14 13:18:43|                 N|         1|          74|          41|              1|          0.6|        4.5|  0.0|    0.5|       0.0|         0.0|     null|                  0.3|         5.3|           2|        1|                 0.0|
|       2| 2020-01-13 20:19:21|  2020-01-13 20:39:36|                 N|         5|         195|          89|              1|         4.66|       20.0|  0.0|    0.0|       6.0|         0.0|     null|                  0.0|        26.0|           1|        2|                 0.0|
|       2| 2020-01-11 09:51:07|  2020-01-11 09:53:46|                 N|         1|          43|         236|              2|         0.58|        4.0|  0.0|    0.5|       1.0|         0.0|     null|                  0.3|        8.55|           1|        1|                2.75|
|       2| 2020-01-22 11:59:54|  2020-01-22 12:03:01|                 N|         1|          42|          42|              1|         0.68|        4.5|  0.0|    0.5|       0.0|         0.0|     null|                  0.3|         5.3|           2|        1|                 0.0|
|    null| 2020-01-07 16:09:00|  2020-01-07 16:33:00|              null|      null|          33|         157|           null|         7.48|      30.55| 2.75|    0.5|       0.0|         0.0|     null|                  0.3|        34.1|        null|     null|                null|
|    null| 2020-01-17 08:21:00|  2020-01-17 09:06:00|              null|      null|          76|          55|           null|        12.48|      45.99| 2.75|    0.0|       0.0|         0.0|     null|                  0.3|       49.04|        null|     null|                null|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
only showing top 20 rows

In [10]:
df_green.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- lpep_pickup_datetime: timestamp (nullable = true)
 |-- lpep_dropoff_datetime: timestamp (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- ehail_fee: string (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- trip_type: integer (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [11]:
df_yellow = spark.read.parquet('data/pq/yellow/*/*')

In [12]:
df_yellow.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [13]:
df_green = df_green \
.withColumnRenamed('lpep_pickup_datetime', 'pickup_datetime') \
.withColumnRenamed('lpep_dropoff_datetime', 'dropoff_datetime')

In [14]:
df_yellow = df_yellow \
.withColumnRenamed('tpep_pickup_datetime', 'pickup_datetime') \
.withColumnRenamed('tpep_dropoff_datetime', 'dropoff_datetime')

In [16]:
common_columns = ['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'congestion_surcharge']

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'congestion_surcharge']

In [18]:
from pyspark.sql import functions as F

In [19]:

df_green_sel = df_green.select(common_columns)\
    .withColumn('service_type', F.lit('green'))

In [20]:

df_yellow_sel = df_yellow.select(common_columns)\
    .withColumn('service_type', F.lit('yellow'))

In [21]:
df_trips_data = df_green_sel.unionAll(df_yellow_sel)

In [22]:
df_trips_data.groupBy('service_type').count().show()

+------------+--------+
|service_type|   count|
+------------+--------+
|       green| 2304517|
|      yellow|39649199|
+------------+--------+

In [23]:
df_trips_data.createOrReplaceTempView('trips_data')

In [24]:
spark.sql("""
SELECT 
    service_type,
    count(1) as count
FROM 
    trips_data
GROUP BY service_type

""").show()

+------------+--------+
|service_type|   count|
+------------+--------+
|       green| 2304517|
|      yellow|39649199|
+------------+--------+

In [25]:
df_result = spark.sql("""
SELECT 
    -- Reveneue grouping 
    PULocationID AS revenue_zone,
    date_trunc('month', pickup_datetime) AS revenue_month, 
    service_type, 
    -- Revenue calculation 
    SUM(fare_amount) AS revenue_monthly_fare,
    SUM(extra) AS revenue_monthly_extra,
    SUM(mta_tax) AS revenue_monthly_mta_tax,
    SUM(tip_amount) AS revenue_monthly_tip_amount,
    SUM(tolls_amount) AS revenue_monthly_tolls_amount,
    SUM(improvement_surcharge) AS revenue_monthly_improvement_surcharge,
    SUM(total_amount) AS revenue_monthly_total_amount,
    SUM(congestion_surcharge) AS revenue_monthly_congestion_surcharge,
    -- Additional calculations
    AVG(passenger_count) AS avg_montly_passenger_count,
    AVG(trip_distance) AS avg_montly_trip_distance
FROM
    trips_data
GROUP BY
    1, 2, 3
""")

In [ ]:
df_result.coalesce(1) \
    .write.mode("overwrite") \
        .parquet('data/report/revenue')